body {
  margin: 0;
  padding: 0px;
  background-color: #f5f5f5;
  font-family: 'Share Tech Mono', monospace;
}

.topnav {
  overflow: hidden;
  --background-color: #333;
}

.menubackground {
  width: auto;
  height: 350px;
  border: 7px double #b8a01a; 
  --padding: 35px;
  background-image: url("black_tech.jpg");
}

.topnav a {
  float: right;
  color: whitesmoke;
  text-align: center;
  padding: 14px 62px;
  text-decoration: none;
  font-family: 'Share Tech Mono', monospace;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #b8a01a;
  color: #000;
}

.topnav a.active {
  background-color: #b8a01a;
  color: #000;
}

.border { 
    border-width: 3px; 
    border-color: #b8a01a; 
    border-style: solid; 
} 

h1 {
    margin-left: 20px;
    margin-right: 20px;
}

h2 {
    margin-left: 20px;
    margin-right: 20px;
}

p {
    margin-left: 20px;
    margin-right: 20px;
}

